In [10]:
import pandas as pd

common_word = pd.read_csv('./common_word.csv')
native_word = pd.read_csv('./neg_word.csv')
positive_word = pd.read_csv('./pos_word.csv')
trip_review = pd.read_csv('./tripadviser_review.csv')

In [11]:
native_word.drop('label', axis=1, inplace=True)
positive_word.drop('label', axis=1, inplace=True)
native_word.columns = ['text', 'y']
positive_word.columns = ['text', 'y']
native_word = native_word.sample(5300 ,random_state=10)

In [33]:
# 1 : 긍정적
# 0 : 보통
# -1 : 부정적

trip_review = positive_word.sample(500, random_state=10)
df = pd.concat([common_word, native_word, positive_word, trip_review])


df.y.value_counts()

 1    5346
-1    5300
 0    5017
Name: y, dtype: int64

In [34]:
df

                                                   text  y
0     그들의 사생활 ~ 고인이된 설리를 위해서라도 모두 조용하길 지금 누굴 탓한다고 무슨...  0
1     아무리 법이 뭣같아도 무슨 자격으로 개인의 신상정보를 불특정 다수에게 공개하는지 도...  0
2                  여자들도 아무한테나 자기야라고하는사람있는데 그것도성희롱인것같은데요  0
3                                     지연이 얼굴은 더 배우같네...  0
4     건축학 개론 지금 다시 봤는데 솔직히 건축학 개론 보다는 아닙니다ㅋ 건축학 개론은 ...  0
...                                                 ... ..
73                                             겉면이 매끄럽고  1
3204                                          문제의 아름다움과  1
2823                                              듣기 좋은  1
814                                                사로잡다  1
2230                                              힘이 있고  1

[15663 rows x 2 columns]